$backgroundcl: #ecf0f1;


form{
    border: black solid 2px;
    margin: auto;
    width: 300px;
    height: 250px;
    background-color: $backgroundcl;
}

@mixin loginia() {
    border: solid gray 1px;
    border-radius: 5px;
    height:25px; 
    width: 190px;
    margin-left: 50px;  
}

.username{
    @include loginia()
}

.password{
    @include loginia()
}

.sign{
    color: white;
    background-color: #e74c3c;
    @include loginia()
}



p{
    text-align: center;
    font-size: 25px;
}

