body{
    background: url(./024cb4c9894df2b015e9d80131b4f1ec.jpg);
}
.a1{
    border: solid white;
    background-color: white;
    padding: 100px;
    height: 500px;
    width: 300px;
    margin: auto;

}